* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1.5rem;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4 {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  color: #333;
  line-height: 2rem;
  margin: 1.5rem;
}

a {
  color: #0072ff;
  text-decoration: none;
  transition: color 0.2s ease;
}
